<app-spinner *ngIf="!this.countries" class="spinner"></app-spinner>
<div class="container-fluid border p-2 mt-2 search align-items-center justify-content-center">
    <form [formGroup]="form" class=" d-flex flex-row flex-wrap">
        <mat-form-field appearance="fill" *ngIf="this.countries" class="select col-6 m-4">
            <mat-label>Izaberite državu početnog aerodroma</mat-label>
            <select matNativeControl formControlName="countrySelect" (change)="selectCountry($event)">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="this.cities" class="select col-6 m-4">
            <mat-label>Izaberite početni aerodrom</mat-label>
            <select matNativeControl formControlName="airportSelect" (change)="selectAirport($event)">
            <option *ngFor="let city of cities" [value]="city.code">{{city.cityWithDetails}}</option>
            </select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="this.directAirports" class="select col-6 m-4">
            <mat-label>Izaberite odredišni aerodrom</mat-label>
            <select matNativeControl formControlName="directAirportSelect" (change)="selectDirectAirport($event)">
            <option *ngFor="let airport of directAirports" [value]="airport.code">{{airport.country}}, {{airport.cityWithDetails}}</option>
            </select>
        </mat-form-field>
        <mat-form-field *ngIf="this.dates" class="select col-6 m-4">
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="datesFilter" (dateChange)="changeDateEvent($event)" placeholder="Izaberite datum leta">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="this.selectedDate" class="select col-6 m-4">
            <mat-label>Unesite broj putnika</mat-label>
            <input matInput id="passengerNum" name="passengerNum" formControlName="passengerNum" maxlength="3"  type="number" value="1" (change)="selectPassNum($event)">
        </mat-form-field>

        <div class="select col-6 m-4" *ngIf="this.selectedDate">
            <button
            class="btn btn-outline-primary"
            type="button"
            (click)="submited()">
            Pretraži letove</button>
          </div>
    </form>

    <!-- <div class="row p-0 m-0">
        <div class="col-md-2 col-sm-6 my-2" *ngFor="let f of flightsResult">
            <flight-card ></flight-card>
        </div>
    </div> -->

    <div class="container">
        <app-flight-card *ngFor="let flight of flightsResult" [flight]="flight"></app-flight-card>
    </div>
    
</div>


